* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.cdnfonts.com/css/monument-extended");
body {
    font-family: Monument Extended, sans-serif;
    background: red;
    color: white;
    z-index: -5;
    overflow-x: hidden;
}

a {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 800;
}

h1 {
    font-size: 15px;
    font-weight: 400;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

main {
    padding-bottom: 500px;
    margin: 20;
}

main div {
    padding-bottom: 50px;
}

.opening {
    position: relative;
    left: 20%;
    top: 100px;
    z-index: 10;
    width: 60%;
    padding-bottom: 500px;
}

.opening img {
    z-index: 10;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 50px 100px;
}

.perso {
    position: absolute;
    position: fixed;
    left: 43.5%;
    top: 250px;
    width: 15%;
    z-index: 667;
}


/*@keyframes slidein {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}*/

.textleft {
    position: relative;
    margin-right: 800px;
    width: 40%;
}

.textright {
    margin-left: 800px;
    text-align: right;
    width: 40%;
}

.textleft2 {
    position: relative;
    margin-right: 800px;
    width: 40%;
}

.textright2 {
    margin-left: 800px;
    text-align: right;
    width: 40%;
}

footer {
    padding-bottom: 20vh;
}


/* -------------menu burger -------------- */

.menu-items {
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(255, 0, 0);
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: 1s;
    z-index: 10000;
}

.boxMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
}

.boxMenu li {
    padding: 50px 0;
    text-decoration: #ffffff;
    list-style-type: none;
    font-size: 50px;
}

.boxMenu li:hover {
    text-decoration: wavy;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
}

.navbar .nav-container a li {
    font-size: 30px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    top: 40px;
    right: 100px;
    z-index: 10001;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}


/*--------Slider-----*/

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 1s;
    scrollbar-width: none;
}

.slider img {
    height: 380px;
}

.sliderClick {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 200px 0;
    z-index: 100;
}


/* -----------carousel-------
        
        .slider-items {
            position: relative;
              slider-height
            height: 50vh;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
        you can use background imgae in internal css
        
        .bg-img-1 {
            background-image: url(images/slider1.webp);
        }
        
        .bg-img-2 {
            background-image: url(images/slider2.jpeg);
        }
        
        .bg-img-3 {
            background-image: url(images/slider3.jpeg);
        }
        slider-style
        
        .active-slider {
            position: relative;
        }
        
        .sigle-item {
            position: absolute;
            color: #fff;
            text-align: center;
            width: 40%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        over-lay-for-slider
        
        .slider-items:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 40%;
        } */


/*owl-nav*/


/* .owl-nav div {
            border: 2px solid #fff;
            color: #fff;
            height: 40px;
            width: 40px;
            position: absolute;
            z-index: 9;
            top: 50%;
            margin-top: -20px;
            left: 10px;
            line-height: 40px;
            text-align: center;
            -webkit-transition: linear .3s;
            -o-transition: linear .3s;
            transition: linear .3s;
        }
        
        .owl-nav div.owl-next {
            left: auto;
            right: 10px;
        } */