@import url("https://fonts.cdnfonts.com/css/monument-extended");
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

body {
    font-family: Monument Extended, sans-serif;
    margin: 100px;
    background: red;
    color: white;
    z-index: -5;
}

a {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 800;
}

h1 {
    font-size: 15px;
    font-weight: 400;
}

img {
    max-width: 220px;
}

.perso {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 40%;
    width: 20%;
}

.smthng {
    margin-right: 800px;
}

.faceoupile {
    margin-left: 800px;
    text-align: right;
}

.soldatboy {
    margin-right: 800px;
}

.suzie {
    margin-left: 800px;
    text-align: left;
}