@import url("https://fonts.cdnfonts.com/css/monument-extended");
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

body {
    font-family: Monument Extended, sans-serif;
    background: red;
    color: white;
    z-index: -5;
}

a {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 800;
}

h1 {
    font-size: 15px;
    font-weight: 400;
}

img {
    max-width: 220px;
}

.opening {
    z-index: 10;
    width: 100vh;
}

.opening img {
    width: 1200px;
    background-color: blue;
    z-index: 10;
}

.perso {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 40%;
    width: 20%;
}

.textleft {
    margin-right: 800px;
    animation: 3s linear 1s infinite running;
}

.textright {
    margin-left: 800px;
    text-align: right;
}